@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');

:root {
    --primario: #016170;
    --secundario: #009393;
    --terciario: #00E0C6;
    --gris: #efefef;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.pane {
  background: url(wave\ \(2\).svg);
  background-repeat: no-repeat;
  z-index: 5000;
  background-position: bottom right;
  height: calc(100vh - 10px);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px 115px 30px 100px;
}

#header__menu {
    display: flex;
    margin: auto 0;
    height: 30px;
    gap: 50px;
}

#header__logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.menu__element {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.menu__element:hover{
    border-bottom: 5px var(--secundario) solid;
    transition: all 0.1s ease;

}

#landing {
    font-family: 'Open sans', sans-serif;
    width: calc(100vw - 100px);
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#landing__description{
    margin-top: 100px;
    width: 500px;
}

#landing__title {
    padding-left: 10px;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 40px;
    border-left: 5px var(--secundario) solid;
}

#landing__paragraph {
    text-align: justify;
    text-justify: inter-word;
    font-size: 18px;
    line-height: 2;
    border-left: 5px var(--secundario) solid;
    padding-left: 10px;

}

#learn__button{
    justify-content: center;
    padding: 20px;
    background-color: #00E0C6;
}

#landing__image {
    display: inline;
    width: 500px;
    height: 500px;
    margin-right: 200px;
}

#second__pane {
    height: 100vh;
}

#second__pane__title {
    padding-top: 100px;
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-bottom: 1000px;
    
    /* background-color: var(--secundario); */
}

#second__pane__title {
    margin: 10px auto;
}


#second__pane__description {
    margin: 0 200px;
    text-align: justify;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 50px;
}

/* #second__pane__roles {
    display: flex;
    margin: 50px 200px;
    justify-content: space-between;
    flex-wrap: wrap;
} */

#second__pane__roles {
    display: grid;
    margin: 50px 200px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 50px 150px;
}

#second__pane__roles__title {
    margin: 0 auto;
    font-weight: 400;
    font-size: 30px;
}

.second__pane__cards {
    transition: box-shadow 0.3s ease;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
}

.second__pane__cards:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card__title {
    margin: 0 auto;
    margin-bottom: 15px;
}

.second__pane__cards svg {
    margin: 0 auto;
    background-color: #009393;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin-bottom: 10px;
}

.card__paragraph {
    line-height: 1.5;
}